@font-face {
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 400;
  src: local('SF Pro'), url('../../../public/fonts/SF-Pro-Text-Regular.otf');
}

@font-face {
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 510;
  src: local('SF Pro'), url('../../../public/fonts/SF-Pro-Text-Medium.otf');
}

@font-face {
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 590;
  src: local('SF Pro'), url('../../../public/fonts/SF-Pro-Text-Semibold.otf');
}

@font-face {
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 700;
  src: local('SF Pro'), url('../../../public/fonts/SF-Pro-Text-Bold.otf');
}
